.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid {
  display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
