<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Offres de stages {{Titre}} {{session}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body class="has-background-info">
  <section class="section">
    <div class="container ">
      <h3 class="title has-text-light">
        Offres de stages {{Titre}} {{session}}
      </h3>
      {{QUICK_LINKS}}

      {{OFFER_CARDS}}
    </div>

  </section>
  Page générée le {{now}}
</body>

</html>
